<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h1>用户登录</h1>
<h2>
    <!-- 默认就能取到 request 中的属性 -->
    <div th:text="${SPRING_SECURITY_LAST_EXCEPTION}"></div>
    <!-- session的话  -->
    <!--    <div th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}"></div>-->
</h2>
<form method="post" th:action="@{/doLogin}">
    用户名:<input name="uname" type="text"/><br>
    密码:<input name="passwd" type="password"/><br>
    <input type="submit" value="登录"/>
</form>
</body>
</html>